
  <div class="card" id="comment-{{id}}">
    {{!-- <h3 class="card-comment-title">Comment on this post</h3> --}}
    <h3 class="card-content">{{content}}</h3>
      {{!-- {{#ifCond sender_id '==' 8 }}
      delete
   {{/ifCond}} --}}


    <p class="card-info">By {{sender_name}} on {{format_date created_at}}</p>
    {{#if deletable}}
       <a href="#" onclick="deleteComment({{id}})">Delete</a>

    {{/if}}
  </div>
<script>
async function deleteComment(id) {
  try {
    const response = await fetch(`/api/comment/${id}`, {
      method: 'DELETE',
      headers: { 'Content-Type': 'application/json' },
    });
    const data = await response.json();
        document.location.reload(); 
  
  } catch (error) {
    console.error('Error deleting comment', error);
  }
}
</script>