<div class="row">
    <!--your profile stats-->
 <div class="col-sm-8">

{{user.name}}'s Profile

{{#each leaderboard as |leader|}}
        {{leader.name}} {{leader.hs}}
        {{/each}}
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col"> Highscore </th>
      <th scope="col"> Times Played </th>
      <th scope="col"> Coins </th>
      <th scope="col"> Current Skin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     
      <td>  {{user.hs}}</td>
      <td> {{user.played_count}} <!-- {{coins}}--></td>
      <td> pic <!-- {{currentskin}}--></td>
      <td>{{user.skin}}</td>
    </tr>
  </tbody>
</table>
</div>


 <!--friends stats-->
<div class="col-sm-4">
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col"> Friend's Username </th>
      <th scope="col">Highscore </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> 

        <!--below code needs to be edited for friend username-->
        

      
      </th>
      <td> 2<!-- {{friendhighscore}}--></td>
    </tr>
  </tbody>
</table>
</div>

</div>
</div> 